<ion-header>
  <ion-navbar color="primary">
    <ion-title>Categorias</ion-title>
  </ion-navbar>

  <ion-searchbar
    [animated]="true"
    placeholder="Pesquisar categoria"
    [(ngModel)]="searchTerm"
    (ionInput)="filterItems($event)">
  </ion-searchbar>
</ion-header>

<ion-content padding>
  <div *ngIf="searching" class="spinner-search">
    <ion-spinner></ion-spinner>
  </div>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card no-border class="notfound" *ngIf="categories.length == 0">
    <ion-card-content text-center>
      <img src="assets/imgs/no-results.png" />
      <h1>Nenhuma categoria foi encontrada</h1>
    </ion-card-content>
  </ion-card>

  <div *ngIf="categories.length !== 0">
    <div class="info">
      <p text-center>Selecione uma categoria para visualizar os produtos.</p>
    </div>
    
    <ion-list>
      <button ion-item *ngFor="let c of categories" (click)="itemSelected(c)">
        {{ c.name }}
        <ion-badge item-end>{{ c.__meta__.products_count }}</ion-badge>
      </button>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="categories.length < total">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
