page-sections {
	.info {
    border: 1px solid #dedede;
    border-radius: 5px;
    background: #f3f3f3;
    margin-bottom: 10px;

    p {
      margin: 0.7em 0.2em 0.7em 0.2em;
      color: #676767;
    }
	}

	.searchbar {
		background: color($colors, primary) !important;
	}

	.spinner-search {
    width: 100%;
    text-align: center;
    padding: 10px;
	}
}
