page-home {
  .label {
    margin: 5px;
  }

  .toolbar-title {
    font-weight: 100;
  }

  .freemode {
    @media only screen and (min-width: 360px) {
      ion-slide.swiper-slide {
        width: 43vw !important;
      }
    }

    @media only screen and (min-width: 640px) {
      ion-slide.swiper-slide {
        width: 30vw !important;
      }
    }

    @media only screen and (min-width: 736px) {
      ion-slide.swiper-slide {
        width: 22vw !important;
      }
    }
  }

  .card-top-offers {
    h4 {
      color: color($colors, primary);
      font-weight: 900;
      text-transform: uppercase !important;
    }
  }

  .card-two-price {
    background-color: color($colors, primary);

    h4 {
      color: color($colors, light);
      font-weight: 900;
      font-style: italic;
      text-transform: uppercase !important;
    }
  }

  .slideShow {
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: color($colors, secondary);

    .swiper-slide {
      width: 100%;
    }

    .swiper-pagination-bullet {
      background: color($colors, light);
    }

    .swiper-pagination-bullet-active {
      background: color($colors, secondary);
    }
  }
}
