<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Super <b>IDEAL</b>
      <!--<img src="assets/imgs/logo-header.png"/>-->
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <!--<div class="slideShow">
    <ion-slides effect="fade" loop="true" autoplay="3000" pager>
      <ion-slide *ngFor="let slide of slideShow">
        <div (click)="openPage(slide.namePage)">
          <img-loader [src]="slide.image" class="slide-image"></img-loader>
        </div>
      </ion-slide>
    </ion-slides>
  </div>-->

  <ion-card no-border class="notfound" *ngIf="offers.all.length == 0">  
    <ion-card-content text-center>
      <img src="assets/imgs/no-results.png"/>
      <h1>Nenhum produto em oferta foi encontrado</h1>
    </ion-card-content>
  </ion-card>

  <div *ngIf="offers.all.length !== 0">
    <div class="freemode" *ngIf="offers.top.length != 0">
      <div padding class="card-two-price">
        <h4 text-center>Top Ofertas</h4>
        <ion-slides #sliderFreemode spaceBetween="10" slidesPerView="2" speed=600>
          <ion-slide *ngFor="let ot of offers.top">
            <card-offers
              [id]="ot?.product_id"
              [description]="ot?.product_description"
              [unity]="ot?.product?.unity?.abbreviation"
              [validity]="ot?.datetime_end"
              [limitPerCoupon]="ot?.limit_per_coupon"
              [topOffer]="ot?.top_offer"
              [price]="ot?.product_price"
              [priceDiscount]="ot?.price_discount"
              [priceDiscountPriceTwo]="ot?.price_discount_price_two"
              [cumulative]="ot?.cumulative"
              [priceCumulativePerProduct]="ot?.price_cumulative_per_product"
              [cumulativePayable]="ot?.cumulative_payable"
              [viewPercentDiscount]="ot?.view_percent_discount"
              [percentDiscountPerProduct]="ot?.percent_discount_per_product"
              [images]="ot?.images"
            ></card-offers>
          </ion-slide>
        </ion-slides>
      </div>
    </div>

    <!--<div class="freemode" *ngIf="offers.top.length != 0">
      <div padding class="card-top-offers">
        <h4 text-center>Ofertas Cartão Ideal</h4>
        <ion-slides #sliderFreemode spaceBetween="10" slidesPerView="2" loop="true" autoplay="3000" speed=600>
          <ion-slide *ngFor="let op of offers.top">
            <card-offers
              [description]="op.description_product"
              [validity]="op.datetime_end"
              [price-two]="op.price - op.discount"
            ></card-offers>
          </ion-slide>
        </ion-slides>
      </div>
    </div>-->

    <ion-grid>
      <ion-row>
        <ion-col col-sm-6 col-12>
          <card-offers margin *ngFor="let ot of offers.others"
            horizontal="true"
            [id]="ot?.product_id"
            [description]="ot?.product_description"
            [unity]="ot?.product?.unity?.abbreviation"
            [validity]="ot?.datetime_end"
            [limitPerCoupon]="ot?.limit_per_coupon"
            [topOffer]="ot?.top_offer"
            [price]="ot?.product_price"
            [priceDiscount]="ot?.price_discount"
            [priceDiscountPriceTwo]="ot?.price_discount_price_two"
            [cumulative]="ot?.cumulative"
            [priceCumulativePerProduct]="ot?.price_cumulative_per_product"
            [cumulativePayable]="ot?.cumulative_payable"
            [viewPercentDiscount]="ot?.view_percent_discount"
            [percentDiscountPerProduct]="ot?.percent_discount_per_product"
            [images]="ot?.images"
          ></card-offers>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
