page-auth {
}

.content[layout="auth"] {
  background-color: color($colors, light);

  .item {
    background-color: color($colors, light);
  }

  .item.item-input:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: color($colors, dark);
    -webkit-box-shadow: inset 0 -1px 0 0 color($colors, dark);
    box-shadow: inset 0 -1px 0 0 color($colors, dark);
  }

  .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: color($colors, dark);
    -webkit-box-shadow: inset 0 -1px 0 0 color($colors, dark);
    box-shadow: inset 0 -1px 0 0 color($colors, dark);
  }

  .item.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: color($flash, error);
    -webkit-box-shadow: inset 0 -1px 0 0 color($flash, error);
    box-shadow: inset 0 -1px 0 0 color($flash, error);
  }

  .item.item-input.item-input-has-focus .item-inner {
    border-bottom-color: color($colors, primary);
    -webkit-box-shadow: inset 0 -1px 0 0 color($colors, primary);
    box-shadow: inset 0 -1px 0 0 color($colors, primary);
  }

  ion-list.list {
    width: 100%;
    padding: 20px;
  }

  .center {
    /*height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;*/

    h4 {
      margin-bottom: 30px;
      font-size: 2.1rem;
      font-weight: 300;
    }

    form button {
      margin-top: 10px;
    }

    .error {
      color: color($flash, error);
    }
  }
}
