page-list-products {
  .card-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .info {
    border: 1px solid #dedede;
    border-radius: 5px;
    background: #f3f3f3;
    margin-bottom: 10px;

    p {
      margin: 0.7em 0.3em 0.7em 0.3em;
      color: #676767;
    }
  }

  .searchbar {
    background: color($colors, primary) !important;
  }
}
