<ion-content>
  <ion-list no-margin no-padding no-lines>
    <ion-item (click)="copyList()" color="content">
      <ion-icon name="copy" item-start></ion-icon>
      Copiar lista
    </ion-item>
  </ion-list>
</ion-content>
