<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detalhes do Produto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingText="Atualizando..."
    ></ion-refresher-content>
  </ion-refresher>

  <div padding>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="geral">
        Visão Geral
      </ion-segment-button>
      <ion-segment-button value="description">
        Descrição
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-card style="padding: 10px 10px 0 10px; margin-top: 0;" [ngSwitch]="segment">
    <p text-center *ngIf="!product">Aguarde carregando dados do produto...</p>

    <div *ngIf="product">
      <ion-card-content text-center padding *ngSwitchCase="'geral'">
        <div class="slideShow">
          <ion-slides>
            <ion-slide *ngFor="let p of images">
              <div class="img-center">
                <img [src]="p.url" class="slide-image" />
              </div>
            </ion-slide>
          </ion-slides>
        </div>
        
        <ion-card-title text-left>
          {{ product?.description }}
        </ion-card-title>

        <h1 text-left class="price">{{ product?.price | currency:'BRL':'symbol' }}</h1>

        <ion-list no-lines>
          <ion-item>Código interno: {{ product?.id }}</ion-item>
          <ion-item>Código barras: {{ product?.barcode }}</ion-item>
          <ion-item>Tipo embalagem: {{ product?.unity?.name }}</ion-item>
          <ion-item>Marca: {{ product?.marca.name }}</ion-item>
        </ion-list>

        <button ion-button block style="margin-top: 15px" color="primary" (click)="openModalAddProduct(product)">Adicionar a Lista de Compra</button>
      </ion-card-content>
    </div>

    <ion-card-content padding *ngSwitchCase="'description'">
      <p text-center *ngIf="!product.description_long">Este produto não tem nenhuma descrição.</p>
      <div [innerHTML]="product.description_long"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
