page-register {
  h4 {
    margin-bottom: 10px !important;
  }

  button {
    margin-top: 16px !important;
  }

  .termosUso {
    margin-top: 25px;
    font-size: 1.3rem;
  }

  ion-item.item.item-select {
    border-bottom-color: color($colors, dark);
    border-bottom-width: 1px !important;
    border-bottom-style: solid;

    .label {
      margin-bottom: 4px;
      font-size: 1.2rem;
    }

    .input-wrapper {
      display: inline-block;
    }

    .select {
      margin-top: 8px;
      margin-bottom: 8px;
      padding: 0;
    }

    .select-icon {
      width: 20px;
    }
  }
}
