flash {

  .flash-container {
    position: absolute;
    width: 100%;
    height: 56px;
    color: #fff;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    time-bar {
      position: absolute;
      top: 0;
    }

    .dismiss {
      position: absolute;
      bottom: 0;
      margin: 0 0 5px 0;
      font-size: 0.7em;
      opacity: 0.5;
    }
  }

  .top {
    top: 0 !important;
  }

  .bottom {
    bottom: 0 !important;
  }

  .primary {
    background-color: map-get($colors, primary);
  }

  .secondary {
    background-color: map-get($colors, secondary);
  }

  .light {
    background-color: map-get($colors, light);
  }

  .dark {
    background-color: map-get($colors, dark);
  }

  .error {
    background-color: map-get($flash, error);
  }

  .success {
    background-color: map-get($flash, success);
  }

  .info {
    background-color: map-get($flash, info);
  }

  .warning {
    background-color: map-get($flash, warning);
  }
 
}