card-offers {
  .label-md {
    margin: 0;
  }

  .item-inner {
    padding-right: 0 !important;
  }

  ion-card-header.card-header {
    text-align: center;
    padding: 5px;
  }

  .card {
    margin: 0;
  }

  .card p {
    margin: 0;
    font-size: 1.3rem;
  }

  .card-header {
    .badge {
      position: absolute;
      overflow: hidden;
      left: 10px;
      top: 27px;
    }
  }

  .barra-top {
    background-color: #eeeeee;
    text-align: center;

    p {
      color: #999;
      font-size: 1rem;
      padding: 1px;
      margin-bottom: 2px;
    }
  }

  /** Footer */
  .footer {
    .button {
      font-size: 1.1rem;
      margin: 0px;
      color: #828282;
      background-color: #eeeeee;
      font-weight: normal;
      text-transform: none;
    }
  }

  /** Preços */
  .prices {
    width: 100%;
    display: inline-block;
    padding: 2px 3px;

    .price-card {
      border-radius: 2px;
      margin: 2px 0;

      span {
        font-size: 1rem;
        font-weight: normal;
      }
    }

    p.price {
      font-size: 1.3rem;
    }

    .offer {
      .message {
        font-size: 1.1rem;
        font-weight: 500;
        color: color($colors, dark);
        text-align: center;
      }

      .price {
        color: color($colors, dark);
        text-align: center;
        line-height: 1.3rem;
      }
    }

    .offer.border-price {
      padding: 2px;
      border-color: #222;
      border-style: solid;
      border-width: 1px;

      p {
        font-weight: 500;
      }
    }

    .offer.light {
      display: inline-flex;
      position: relative;
      width: 100%;

      .message {
        font-size: 1rem;
        color: color($colors, secondary);
        padding-right: 5px;
      }

      .price {
        color: color($colors, secondary);
        line-height: 1.3rem;
        font-weight: bold;
      }
    }

    .color-red {
      p {
        color: color($colors, secondary) !important;
        font-weight: bold;
        padding: 2px;
      }
    }

    .offer.header {
      .message {
        font-weight: 500;
        background-color: color($colors, secondary);
        color: color($colors, light);
      }
    }

    .offer.light.header {
      .message {
        margin: 0;
        padding: 1px 2px;
        margin-right: 3px;
      }

      .price {
        padding-top: 2px;
      }
    }

    .offer.border {
      border-color: color($colors, secondary);
      border-style: solid;
      border-width: 1px;
    }

    .price2 {
      background: #efcf00;
      display: flex;

      .message {
        padding: 2px 5px;
        background-color: rgba(255, 255, 255, 0.42);

        img {
          max-width: 30px;
        }
      }

      p.price {
        padding-top: 4px;
        width: 100%;
        margin-bottom: 0;
        line-height: 1;
        font-weight: 900;
        color: color($colors, primary);
        padding-left: 3px;
        text-align: left;
      }
    }

    .cumulative {
      background: color($colors, primary);
      display: flex;

      .message {
        margin-right: 3px;
        padding: 2px 3px;
        background-color: rgba(255, 255, 255, 0.1);

        p {
          margin-bottom: 0;
          line-height: 1;
          font-size: 1rem;
          color: color($colors, light);
          padding: 2px 0 2px 0;
        }
      }

      p.price {
        padding: 2px 0;
        margin-bottom: 0;
        line-height: 1;
        font-size: 1.3rem;
        font-weight: 900;
        color: color($colors, light);
      }
    }

    .cumulative-payable {
      background: color($colors, primary);

      p.message {
        font-size: 1.3rem;
        color: color($colors, light);
        padding: 2px;
        text-align: center !important;
        display: inline-block;
      }
    }
  }
  /** Fim Preços */

  /** Vertical */
  .card.vertical {
    width: 100%;
    height: 100%;

    .card-header {
      img {
        display: inline-block;
        max-width: 80px;
        max-height: 80px;
      }
    }

    .card-content {
      padding: 3px 6px 3px 6px;

      .description {
        white-space: normal;
        text-align: left;
        line-height: 1.2;
        max-height: 32px;
        overflow: hidden;
        margin: 0;
      }

      .sub-description {
        color: #999;
        font-size: 1rem;
      }
    }

    .prices {
      .price2 {
        .message {
          margin: 0;

          img {
            max-width: 25px;
          }
        }
      }
    }
  }
  /** Fim Vertical */

  /** Horizontal */
  .card.horizontal {
    width: 100%;

    .card-header {
      padding: 5px;
      margin: 0 5px 0 0 !important;
      float: left;

      img {
        max-width: 80px;
        max-height: 80px;
        width: auto;
        height: auto;
      }
    }

    .card-content {
      padding: 2px 5px;

      p.title {
        max-height: 32px;
        overflow: hidden;
        white-space: normal;
        margin: 0;
        line-height: 1.2;
      }

      p.subtitle {
        color: #999;
        font-size: 1rem;
      }
    }

    .prices {
      padding: 0 5px 5px 0;
      background-color: transparent;
      border-top: none;
      width: 64vw;;
    }

    @media only screen and (min-width: 540px) {
      .prices {
        width: 29vw;
      }
    }
  }
  /** Fim Horizontal */
}
